@font-face {
	font-family: 'usagi_rpg';
	src:url('fonts/usagi_rpg.eot?86ej4w');
	src:url('fonts/usagi_rpg.eot?#iefix86ej4w') format('embedded-opentype'),
		url('fonts/usagi_rpg.woff?86ej4w') format('woff'),
		url('fonts/usagi_rpg.ttf?86ej4w') format('truetype'),
		url('fonts/usagi_rpg.svg?86ej4w#usagi_rpg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'usagi_rpg';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 55px;
	position:absolute;	
}



	
html, body, div, 
span, h1, h2, p, a, 
img, input, form, label{
	margin: 0;
	padding: 0;
	border: 0;
}	
	
*, *:after, *:before { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 	
	scrollbar-face-color:#FCF065; scrollbar-shadow-color:#FCF065; scrollbar-arrow-color:#FCF065; scrollbar-track-color:#343434;	
}

body::-webkit-scrollbar {width: 13px; background: #343434; } body::-webkit-scrollbar-thumb { background: #FCF065; }

body {
	background: #333 url(img/bg1.gif);
	font-family: Trebuchet MS, sans-serif;
	font-size: 11pt;
	color:#666;
	overflow-x: hidden;
	}
	
a {outline: none; text-decoration: none;}
a:link, a:visited {color: #7A7171;}
a:hover {color: #FCF065;}

h1,h2,h3,input,span { font-size: 20pt;}

a,h1,h2,h3,input,span,
.stalker:before,
#user-personal label,
#ask-options div  {font-family: 'Helvetica Neue Light', 'Segoe UI Light';  font-weight:100;}

#container {
	width: 850px;
	min-height: 1500px;
	margin: 0 auto;
	}
	
img,div {border:none;}
textarea {overflow:hidden; min-height:110px;}

	
input[type="text"], 
input[type="password"],
input[type="submit"],
input[type="file"] {color:#888; padding:15px; margin:7px; background:none;}
.with-ico{padding-left:80px!important;}

input[type="submit"]:active {background:#3f4773; color:#fff;}
input[type="submit"] {
	padding:10px 30px; 
	background:#5c669e;
	color:#d0d0d0;
	cursor:pointer;
	}

/* search bar [...] */
input.with-ico {width:332px;}
input.with-ico:focus ~ label.icon:before {color:#E3DC78;}
label.icon {float:left;}
label.icon:before {top:10px; left:15px;}


/* ------- DEFAULT HERE ------- */
/*
html,a:hover {cursor: url(http://cur.cursors-4u.net/games/gam-14/gam1309.cur), progress !important;}
html,a:hover {cursor: url(http://cur.cursors-4u.net/games/gam-2/gam134.cur), progress !important;} 
html {cursor: url(http://cur.cursors-4u.net/symbols/sym-6/sym597.cur), progress !important;}
html {cursor: url(http://cur.cursors-4u.net/special/spe-2/spe114.cur), progress !important;}
html {cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), progress !important;}
html {cursor: url(http://cur.cursors-4u.net/sports/spo-1/spo28.ani), url(http://cur.cursors-4u.net/sports/spo-1/spo28.png), progress !important;}
*/

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hasArrow:before,
.hasLine:before 
{
	content: "";
	position: absolute;
	z-index: -1;
}

.hasArrow:before {border-style: solid;}
.hasLine:before  {background: #fff;}

.box-shadow-LV2 {
	box-shadow: 		15px 15px 15px rgba(1,1,1,0.6);
	-moz-box-shadow: 	15px 15px 15px rgba(1,1,1,0.6);
	-webkit-box-shadow: 15px 15px 15px rgba(1,1,1,0.6);
}
.box-shadow-LV0 {
box-shadow: 		inset 1px 1px 20px rgba(1,1,1,0.5);
-moz-box-shadow: 	inset 1px 1px 20px rgba(1,1,1,0.5);
-webkit-box-shadow: inset 1px 1px 20px rgba(1,1,1,0.5);
}

.display-block {display:block!important;}
.file-box-div {display:none;} /*group*/

/* dropdown */
.dropdown {	
	position:absolute;
	width:250px!important;
	height:auto!important;
	background:#fff;
	display:none;
	}
.dropdown span {display:block; font-size:13pt; margin-top:20px;}
.dropdown:before {border-width: 0px 15px 20px 15px; border-color: #333 transparent;}


	
/* ------- TOP ------- */
#top,#top-right > a {height:80px;}
#top-right > a 		{width:80px; float:right; z-index:10;}
#top-right	{width:250px; float:right;}
#top-right > a div:before {margin:10px;}

#x.dropdown {
	margin:110px -5px;
	background: url(img/noise.png) #333!important; 
	background:#333;
	z-index:8;
	width:250px!important;
	box-shadow: 2px 2px 0px rgba(1,1,1,.5),
				4px 4px 0px rgba(1,1,1,.4),
				8px 8px 0px rgba(1,1,1,.4);
	}

#x.dropdown div[id^="option"]	{height:75px; width:250px; cursor:pointer;}
#x.dropdown div 				{float:left; border-bottom:1px solid #555;}
#x.dropdown div[data-icon]		{width:75px; height:75px; padding:5px;}
#x.dropdown span 				{font-size:20pt; margin-left:5px;}
#x.dropdown > div:hover 		{background: url(img/noise.png) #3b3b3b; color:#fdff98; border-radius:10px 10px 0 0;}

#top-right > a.active 	~ #x.dropdown {display:block!important;}	
#top-right #log.active	~ #x.dropdown:before {top:-20px; left:190px;}
#info-chat.active 	 	~ #x.dropdown:before {top:-20px; left:120px;}
#notifications.active	~ #x.dropdown:before {top:-20px; left:40px;}

#top-right > a.active {color:#FCF065;}

 /* ------- HEADER ------- */
#header {height:480px; background:#fff;}

#cover[data-file] {background: url(img/loader_bb.gif) center no-repeat, url(img/bg_7.png);} 
#cover {
	height:400px;
	border-bottom:1px solid #666; 
	background: url(img/bg_7.png);
	position:relative;
	}

#avatar {
	width: 200px;
	height:200px;
	background: url(img/bg_6.png);
	border: 5px solid #333;
	margin:-140px 20px;
	overflow:hidden;
}	

#cover,#avatar,
#cover img, #avatar img {position:relative;}


	
/* navigation */	
#navigation 			{width:600px; height:80px; margin:80px 250px;}
#navigation div 		{position:relative; float:left; width:120px; height:80px; border-right:1px solid #999;}
#navigation div:before 	{color:#444; font-size: 38pt; margin:13px 33px;}
#navigation a:hover  div:before,
#navigation a.active div:before {color:#fff;}



a#profile div {border-left:1px solid #999;}
a#profile:hover		div, a#profile.active	 div{background:#BA2360;}
a#inventory:hover	div, a#inventory.active	 div{background:#417AC4;}
a#archive:hover		div, a#archive.active 	 div{background:#4F8F65;}
a#stalk-list:hover	div, a#stalk-list.active div{background:#A35050;}



/* ------- OTHERS ------- */
.hidden_mask {position:fixed; width:100%; height:100%; z-index:7; top:0; left:0; display:none;}

.loading {
	background: url(img/loader_f.gif) no-repeat;
	width: 40px;
	height:40px;
	position:fixed;
	bottom:15px;
	right: 15px;
	z-index:99;
	display:none;
}
	
	


/* -------- MAIN WRAPPER -------- */
.left-side	{width:400px; float:left;}
.right-side {width:400px; float:right;}

.left-side > div:last-child  {margin-bottom:50px;}
.right-side > div:last-child {margin-bottom:100px;}

#user-info,
#user-status,
#user-personal,
#user-description {background:#fff;}

/* user HP,EXP & MONEY */
#user-info {height:200px; margin-top:70px; padding-top:15px; position:relative; box-shadow:10px 10px 10px rgba(3,3,3,.5);}
#user-info:before {width:5px; height:100px; margin:-100px 100px;}
#user-info h1 {position:absolute; top:-45px; right:0; color:#888; font-size:20pt;}

#hp,#exp {margin:10px;}
#hp:before  {font-size:30pt; margin:-5px 20px;}
#exp:before {content:"EXP"; position:absolute; font-size:18pt; margin:65px 20px;}

	/* useless hover effect */
	#hover-hp,#hover-exp {position:absolute; height:75px!important; width:400px!important; z-index:5;}
	#hover-hp {top:0;}
	#hover-exp {top:75px;}
	#hover-hp:hover  ~ #hp:before  {color:#e65359;}
	#hover-exp:hover ~ #exp:before {color:#6b97e6;}

	/* BAR (subdivided) */
	.bar {width:300px; border:1px solid #333; float:right; position:relative;}
	.bar div, 
	.bar div {width:30px; height:27px; border-right:1px solid #999; float:left;}

	/* PROGRESS (colored) */
	.bar .first  {width:2px!important; border:none;}
	.bar .first,
	.progress	 {position:absolute; opacity:0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);}
	.progress	 {margin-left:2px;}
	#hp  .progress, #hp  .first {background-color:#d32a39;}
	#exp .progress, #exp .first {background-color:#2d42ff;}
	
	#user-info .progress-num {width:300px; float:right; text-align:center; margin-bottom:15px;}

			
#money {
	position:absolute; 
	bottom:0;
	height:50px; 
	width:400px;
	background-color:#fffeb1; 
	border-top:1px solid #999; 
	text-align:right;
	line-height:45px;
	padding:0 20px;
	}
	

/* user SOCIAL LINKS */
#user-links {height:50px;}
#user-links div {width:50px; height:50px; float:left;}
#user-links div:before {font-size:28pt; margin:8px;}
#user-links a:hover div:before {color:#fff;}


/* user STATUS */
#user-status {height:400px; margin-top:110px; position:relative;}
#user-status:before {height:5px; width:50px; margin:80px -50px;}
#user-status span {position:absolute;}
#user-status span#level {right:0; top:-70px; font-size:38pt; color:#888;}
#user-status span#attr 	{bottom:-53px; background:#fffeb1; padding:8px 20px;}


	/* links A e B (status) */
	a#status-b div{margin-left:72px; box-shadow: inset 5px 0 8px rgba(1,1,1,.5);}
	#user-status > a div{position:absolute; margin-top:-70px; width:70px; height:70px; background:#cecece; }

	#user-status > a.active div {background:#faffb7;}
	#user-status > a.active div:before {font-family:"usagi_rpg"; color:#86895e; font-size:43px; margin:13px 13px; display:block;}
	a#status-a.active div:before {content:"";}
	a#status-b.active div:before {content:"";}

	
	
	
	
	
/* USER INFORMATION */	
.user_info   {margin-top:80px; position:relative; padding:20px; border-left:4px dotted #333; word-wrap: break-word;}

.user_info span:first-child {position:absolute; left:0px; top:-38px; color:#999;}



#user-description   	 {padding:30px 20px; line-height:30px; font-size:12pt; color:#666;}
#user-personal ~ #user-description		  {margin-top:80px;}
#user-personal ~ #user-description:before {width:5px; height:100px; right:60px; top:-80px;}

#user-personal 			 {margin-bottom: 30px;}
#user-personal p 		 {margin-left:160px; line-height:24pt; color:#888; }
#user-personal form p    {margin:0!important;}
#user-personal b		 {position:absolute;}

#user-personal b, 
#user-personal label 	 {left:20px; font-weight:bold; line-height:25pt;}

	

	
/* -------------------------------------------------------------------------- OTHER STUFFS */
	
/* MESSAGE LOG */
#message-log {
	position:fixed;
	bottom:30px;
	right:30px;
	width:300px;
	min-height:50px;
	text-align:center;
	padding:10px;
	z-index:100;
	display:none;
	background: url(img/noise_a.png) repeat-x #FFA3A3;
	color: #5E0A0A;	
}
#message-log p {margin:5px; font-size:13px;}
#message-log div {
	position:absolute;
	right:10px;
	top:-40px;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:18pt;
	background:#FFFAC2;
	cursor:pointer;
	color:#333;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* RPG MENU (navigation) */
.rpg_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #222;
	background-color: rgba(0, 0, 0, 0);
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	box-shadow: inset 10px 0px 20px #000;
	-moz-box-shadow: inset 10px 0px 20px #000;
	-webkit-box-shadow: inset 10px 0px 20px #000;
	z-index: 98;
}

.rpg_menu.open_class {
	height: 100%;
	border-width: 0 0 60px 230px;
	background-color: rgba(0, 0, 0, 0.6);
	transition: border-width 0.3s, background-color 0.3s; 
}

/* OVERLAY (close space) */
.menu_overlay {position: absolute; width: 100%;}
.open_class .menu_overlay {height: 100%;}

/* (= trigger) */
.menu_trigger {
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer; 
}

.menu_trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -2px;
	background-color: #777;
	font-size: 0px;
	user-select: none;
	transition: background-color 0.3s;
}


/* upper and bottom BAR */
.menu_trigger span:before,
.menu_trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #777;
	content: '';
	transition: top 0.3s, bottom 0.3s, transform 0.3s;
	-webkit-transition: top 0.3s, bottom 0.3s, -webkit-transform 0.3s; 
}
.menu_trigger span:before {top: -12px;}
.menu_trigger span:after  {bottom: -12px;}


/* (click) make a cross */
.open_class .menu_trigger span {background-color: transparent;}
.open_class .menu_trigger span:before {
	top: 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg); 
}
.open_class .menu_trigger span:after {
	bottom: 0;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg); 
}


/* (click) show NAV-ITENS */
.rpg_menu.open_class ul li {
	visibility: visible;
	opacity: 1; 
}

  
/* NAV ITENS */
.rpg_menu ul {
	position: fixed;
	top: 100px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 230px;
	list-style: none; 
	display:none;
}

.rpg_menu ul li,
.rpg_menu ul li a {
	display: block;
	width: 100%;
	height: 60px; 
}

.rpg_menu ul li {
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	-webkit-transition: opacity 0.2s, visibility 0s 0.3s;
	border: 1px solid #333;
}

.rpg_menu ul li a {
	padding-left: 70px;
	line-height: 60px;
}

.rpg_menu ul li a:before {
	margin: 10px -60px;
	color: #666;
	transition: color 0.2s; 
	font-size:30pt;
}
.rpg_menu ul li a:hover:before {color: #FCF065;}



/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* MY INVENTORY // .CSS */
.health, .backpack {
	background-color:#fff; 
	box-shadow: 10px 10px 10px rgba(3,3,3,.5);
}
.equipament, #dishes_info {
	background-color:#fff;
	box-shadow: 10px -10px 10px rgba(3,3,3,.5); 
}


.health {height:150px; margin-top:80px;}
.health span {float:left; border-left:1px solid #999; width:150px; height:150px; position:relative; padding-top:100px; text-align:center;}
.health span:before {top:30px; left:45px; font-size:45pt;}
.health a:hover span {color:#333}
.health:before {
	/* arrow to-bottom */
	margin: 150px 225px;
    border-width: 30px 15px 0px 15px;
    border-color: #fff transparent; 
}

/* ---- */
.inventory_nav {height:80px; margin-top:60px;}
.inventory_nav a {width:100px; height:80px; float:left; display:block; position:relative;}
.inventory_nav div:before {left:15px; top:5px; font-size:50pt;}

.inventory_nav a:hover {color:#999;}
a[href="##skills"].active  {color:#FCF065;}
a[href="##weapons"].active {color:#99CC66;}
a[href="##dishes"].active  {color:#FF295E;}

/* ---- */
.equipament {margin-top:60px;}
.equipament > div > div {height:100px; border-bottom:1px solid #999; position:relative;}
.equipament > div {display:none;}
.equipament > div:before {
	/* arrow-to top */
    border-width: 0px 15px 30px 15px;
    border-color: #fff transparent;
	margin-top: -30px;
}
#skills {display:block;}
#skills:before  {margin-left: 45px;}
#weapons:before {margin-left: 140px;}
#dishes:before  {margin-left: 240px;}

.equipament span {font-size:16pt;}
.empty_stuff {line-height:100px; padding-left:100px; position:relative; color:#888; cursor:default;}
.empty_stuff span:before,
#weapons div:before {top:30px; left:30px; font-size:35pt;}

#dishes {position:relative;}
#dishes_info {position:absolute; bottom:-150px; width:100%; height:auto;}
#dishes_info div div {width:50px; height:50px; float:left; border-right:1px solid #999; border-bottom:1px solid #999;}
#dishes_info::before {width:3px; height:100px; top:-100px; left:50px;}
#dishes_info .progress {background-color:#5CB592; margin:0;}

/* ---- */
.backpack {margin-top:80px; position:relative;}		
.backpack:before {width:100px; height:5px; left:-100px; top:70px;}
.backpack #label {position:absolute; top:-50px; font-size:30pt;}
.backpack #money {bottom:-49px; width:auto;}
.backpack > div  {height:130px; border-bottom:1px solid #999;}


.backpack .item_information   {padding:20px; float:left;}
.equipament .item_information {position:absolute; top:15px; left:100px; font-size:14px;}

.clothing.highlight {cursor:pointer; background-color:rgba(0,0,0,0.1); color:#333; border-bottom:1px dashed #333;}
.clothing.highlight:first-child {border-top:1px solid #333;}
.clothing.highlight:hover {background-color: rgba(3,3,3,0.2);}

.equipament > div > div:hover,
.backpack > div:hover {background-color: rgba(3,3,3,0.04);}



/* --------------------------------- */
.NPC img#_1 {position:fixed; bottom:-380px; right:-50px; width:350px;}
.NPC img#_2 {position:fixed; bottom:-80px; right:-50px; width:450px;}
.NPC img#_3 {position:fixed; bottom:-55px; right:-20px; width:450px;}

.npc_talk {
	position:fixed; 
	width:300px; 
	min-height:150px; 
	background-color:#fff; 
	bottom:250px; 
	right:300px; 
	border-radius:5px; 
	box-shadow:5px 5px 10px rgba(0,0,0,0.8);
	border:1px solid #999;
	padding:20px;
}

.npc_talk span {
	position:absolute; 
	top:-41px; 
	line-height:40px;
	text-align:center; 
}
.npc_name {
	display:block;
	padding:0 20px;
	font-size:16pt;
	background:#fffeb1;
	left:0; 
	color:#333;
}
.npc_exp {position:absolute; width:inherit; border:1px solid #333; height:20px; bottom:-80px; left:0; background-color:#999;}
.npc_exp div {width:25px; height:inherit; border-right:1px solid #333; float:left;}
.npc_exp span {position:absolute; top:-33px; color:#fff; font-size:16pt;}
.npc_exp:before {font-size:23pt; top:-20px; left:-45px; color:#e65359; text-shadow:0px 0px 8px rgba(0,0,0,1);}


.npc_talk:before {
	/* arrow to-right */
	top:30px;
	right:-20px;
	border-width: 15px 0px 15px 25px;
	border-color: transparent #fff; 
}

